@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Common styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
/* header section styles */
.header-section {
  background: #2d25a0;
  min-height: 677px;
}
.head-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}
.head-info h1 {
  color: #ffffff;
  font-size: 64px;
}
.head-banner img {
  width: 556px;
  height: 438px;
  transition: transform 1s ease-in-out, rotate 1s ease-in-out;
}
.head-banner:hover img {
  transform: translate(-200px, 200px) rotate(360deg);
  transform-origin: top right;
}
.link-button {
  color: white;
  background: #e02c6d;
  padding: 10px 24px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.link-button i {
  margin-left: 8px;
}
/* gellary section styles */
.gellary-section {
  display: flex;
  justify-content: center;
  padding: 70px 0;
}
.gellary-container {
  width: 1050px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 27px;
  grid-column-gap: 30px;
}
.gellary-item {
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 15px 0px rgb(235, 235, 235);
}
.gellary-info {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.gellary-info img {
  width: 300px;
  height: 256px;
}
.gellary-info h3 {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 28px;
}
.player-text {
  width: 95%;
  height: 22%;
  overflow: scroll;
  overflow-x: hidden;
}
.gellary-info p {
  margin-top: 0;
  font-size: 16;
  color: #6c6c6c;
  overflow: hidden;
}
/* subscribe styles */
.subscribe-section {
  background: lightsalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.subscribe-header {
  font-size: 32px;
  color: #822550;
}
.subscribe-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.subscribe-item {
  background: chartreuse;
  width: 220px;
  height: 140px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
}
.subscribe-item:hover {
  transform: scale(1.2);
}
.subscribe-item a {
  text-decoration: none;
  color: black;
}
.subscribe-item h1 {
  font-size: 2.5em;
  text-align: center;
}
/* highlight styles */
.highlight-section {
  padding: 50px 0;
}
.highlight-container {
  display: flex;
  justify-content: space-evenly;
}
.highlight-info {
  width: 35%;
}
.highlight-info h1 {
  font-size: 48px;
}
.highlight-banner img {
  width: 556px;
  height: 438px;
}

/* standing styles */
.standing-section {
  background: lemonchiffon;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
.standing-info {
  width: 1050px;
}
.standing-headline h1 {
  font-size: 42px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
}
.standing-container {
  display: grid;
  grid-template-columns: 8% 30% repeat(4, 3%) repeat(4, 5%) 30%;
  grid-row-gap: 10px;
}
.box {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightseagreen;
}
.box1 {
  padding: 10px 0;
  padding-left: 50px;
  background: lightseagreen;
}
.box2 {
  padding: 10px 0;
  padding-left: 50px;
  background: lightseagreen;
  display: flex;
  justify-content: center;
}
.box2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: white;
  margin: 0 5px;
  border-radius: 12px;
}
/* footer section styles */
footer {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.footer-container {
  width: 30%;
}
.footer-logo img {
  width: 95%;
  padding-right: 10px;
}
.footer-info {
  margin-top: 15px;
  text-align: center;
}
.footer-info a {
  text-decoration: none;
}
.footer-info .fab {
  font-size: 17px;
  color: rgb(63, 62, 62);
  background: #969bab;
  width: 32px;
  height: 25px;
  margin: 0 3px;
  padding-top: 8px;
  border-radius: 20px;
}
.footer-info p {
  font-size: 18;
  margin: 20px 0;
}
/* Responsive styles */
@media only screen and (max-width: 387px) {
  /* header responsive */
  .head-container {
    flex-direction: column;
    padding: 16px;
  }
  .head-info {
    margin-bottom: 40px;
  }
  .head-info h1 {
    font-size: 24px;
  }
  .head-banner img {
    width: 100%;
  }
  /* gellary responsive */
  .gellary-item {
    width: 100%;
    height: 100%;
  }
  .gellary-info h3 {
    font-size: 16px;
  }
  .gellary-info p {
    display: none;
  }
  .gellary-info {
    padding: 0;
  }
  .gellary-info img {
    width: 100%;
    height: 80%;
  }
  .gellary-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* subscribe responsive */
  .subscribe-header {
    font-size: 14px;
  }
  .subscribe-container {
    display: flex;
    flex-direction: column;
  }
  .subscribe-item {
    width: 70%;
  }
  .subscribe-item h1 {
    font-size: 1em;
    text-align: center;
  }
  /* highlight responsive */
  .highlight-info h1 {
    font-size: 24px;
  }
  .highlight-container {
    flex-direction: column;
    padding: 16px;
  }
  .highlight-info {
    width: 100%;
    margin-bottom: 50px;
  }
  .highlight-banner img {
    width: 100%;
  }
  /* standing responsive */
  .standing-section {
    position: absolute;
    display: none;
  }
  .footer-info a {
    display: inline-block;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 387px) and (max-width: 668px) {
  /* header responsive */
  .head-container {
    flex-direction: column;
    padding: 16px;
  }
  .head-info {
    margin-bottom: 40px;
  }
  .head-info h1 {
    font-size: 24px;
  }
  .head-banner img {
    width: 100%;
  }
  /* gellary responsive */

  .gellary-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* subscribe responsive */
  .subscribe-header {
    font-size: 24px;
  }
  .subscribe-container {
    display: flex;
    flex-direction: column;
  }
  /* highlight responsive */
  .highlight-container {
    flex-direction: column;
    padding: 16px;
  }
  .highlight-info {
    width: 100%;
    margin-bottom: 50px;
  }
  .highlight-banner img {
    width: 100%;
  }
  /* standing responsive */
  .standing-info {
    width: 100%;
  }
  .standing-headline h1 {
    font-size: 20px;
  }
  .standing-container {
    font-size: 10px;
    grid-template-columns: 10% 30% repeat(4, 3%) repeat(4, 5%) 28%;
  }
  .box1 {
    padding-left: 10px;
  }
  .box2 {
    padding-left: 0px;
    background: lightseagreen;
    display: flex;
    justify-content: center;
  }
  .footer-info a {
    display: inline-block;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 668px) and (max-width: 992px) {
  /* header responsive */
  .head-container {
    flex-direction: column;
    padding: 16px;
  }
  .head-info {
    margin-bottom: 60px;
  }
  .head-info h1 {
    font-size: 54px;
  }
  .head-banner img {
    width: 100%;
  }
  /* gellary responsive */

  .gellary-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .gellary-item {
    width: 100%;
    height: 447px;
  }
  .gellary-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  /* subscribe responsive */
  .subscribe-header {
    font-size: 36px;
  }
  .subscribe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
  }
  /* highlight responsive */
  .highlight-container {
    flex-direction: column;
    padding: 16px;
  }
  .highlight-info {
    width: 100%;
    margin-bottom: 50px;
  }
  .highlight-banner img {
    width: 100%;
  }
  /* standing responsive */
  .standing-info {
    width: 100%;
  }
  .standing-headline h1 {
    font-size: 20px;
  }
  .standing-container {
    font-size: 10px;
    grid-template-columns: 10% 30% repeat(4, 3%) repeat(4, 5%) 28%;
  }
  .box1 {
    padding-left: 10px;
  }
  .box2 {
    padding-left: 0px;
    background: lightseagreen;
    display: flex;
    justify-content: center;
  }
  .footer-info a {
    display: inline-block;
    margin-top: 8px;
  }
}
